aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
async-timeout==4.0.2
attrs==23.1.0
auto-py-to-exe==2.34.0
bottle==0.12.25
bottle-websocket==0.2.9
capmonster-python==1.3.0
certifi==2023.5.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
colorama==0.4.6
customtkinter==5.1.3
darkdetect==0.8.0
Dialogs==1.0
discord==2.2.3
discord.py==2.2.3
distlib==0.3.6
Eel==0.16.0
env==0.1.0
filelock==3.12.0
frozenlist==1.3.3
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
idna==2.10
multidict==6.0.4
pefile==2023.2.7
Pillow==9.5.0
pipenv==2023.4.29
platformdirs==3.5.0
pyarmor==8.1.9
pyarmor.cli.core==2.1.9
pycparser==2.21
pydumpck==1.5.113
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pyperclip==1.8.2
PySimpleGUI==4.60.4
pystyle==2.9
pywin32-ctypes==0.2.0
requests==2.25.1
rstr==3.2.1
tk==0.1.0
urllib3==1.26.15
virtualenv==20.23.0
virtualenv-clone==0.5.7
websocket-client==1.2.1
whichcraft==0.6.1
yarl==1.9.2
zope.event==4.6
zope.interface==6.0
